// also see media
// make map full height of column


  .et_pb_posts .et_pb_post {

    a.more-link {
      color: $iec-dk-blue;
      border: 3px solid $iec-lime;
      padding: 6px 20px;
      float: right;
    }
    a.more-link:hover {
      color: white!important;
      background-color: $iec-lime;
    }
}
