/* gravity forms styling */
.gform_wrapper {
	.gform_footer {

		input[type=submit] { //  Make submit look like buttons on the site.
				float: right;
			  color: $iec-dk-blue;
				border: 3px solid $iec-lime!important;
		    padding: 6px 20px;
		    border-width: 0px;
		    font-size: 20px!important;
		    text-align: center;
		    cursor: pointer;
				background-color: white;
				//line-height: 1.7em;
			}
			input[type=submit]:hover {
				background-color: $iec-lime;
				color: white;
			}
	} // gform footer
} // gform wrapper
